.main_container {
  max-width: 1300px;
 max-height: 900px;
 width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  background-color: #f9f9f9;
  overflow: hidden;
  .login_container {
    display: flex;
    gap: 20px;
    .col_left {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 55%;
      margin-left: 0px;
      .page {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;
          display: flex;
          min-height: 832px;
          flex-grow: 1;
          align-items: flex-start;
          padding: 44px 80px 44px 35px;
          .folder_image{
            aspect-ratio: 1;
            object-fit: contain;
            object-position: center;
            width: 29px;
            overflow: hidden;
            margin-top: 211px;
            max-width: 100%;
          }
          .logo_image {
            aspect-ratio: 1;
            object-fit: contain;
            object-position: center;
            width: 208px;
            overflow: hidden;
            align-self: center;
            margin-top: 177px;
            max-width: 100%;
          }
          .bg_img {
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
      }
      .heading {
          position: relative;
          color: #0f3b6c;
          text-align: center;
          max-width: 472px;
          align-self: center;
          margin-top: 25px;
          font-family: 'Nanum Myeongjo';
          font-size: 40px;
          &.mt-5{
            margin-top: 5px;
          }
      }
    }
    .col_right {
      width: 45%;
      padding: 50px 35px 50px 35px;
      position: relative;
      .login_portal{
        width: 100%;
        height: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .Login_Text {
          color: #0c3d74;
          align-self: center;
          // margin-top: 226px;
          white-space: nowrap;
          font-family: 'Nanum Myeongjo';
          font-size: 32px;
        }
        .login_button {
            align-items: center;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            align-self: stretch;
            display: flex;
            margin-top: 36px;
            justify-content: center;
            // padding: 10px 60px;
            &.mt-15{
                margin-top: 14px;
            }
            .login_content{
              display: flex;
              justify-content: flex-start;
              width: 258px;
            }
            .btn_img {
                aspect-ratio: 0.95;
                object-fit: contain;
                object-position: center;
                width: 19px;
                max-width: 100%;
            }
            .hr_text{
                color: var(--buttonText);
                text-align: center;
                font-feature-settings: "clig" off, "liga" off;
                letter-spacing: 0.3px;
                margin-left: 10px;
                white-space: nowrap;
                font: 400 12px/20px Open Sans, sans-serif;
            }
            
        }
        .hr_divider {
            background-color: var(--lightGrey);
            align-self: stretch;
            display: flex;
            margin-top: 14px;
            height: 1px;
            flex-direction: column;
        }
      }
      .contact_cpright{
        position: absolute;
        bottom: 5%;
        width: calc(100% - 65px);
          display: flex;
          flex-direction: column;
          align-items: center;
          .contact_list{
              display: flex;
              .contact{
                color: rgb(0,0,0);
                  padding: 0 2px;
                  .contact_img{
                      display: inline;
                      margin-right: 5px;
                      width: 8px;
                  }
                  .hr_text{
                      white-space: nowrap;
                      font-family: 'Nanum Myeongjo';
                      color: rgba(0, 0, 0, 0.5);
                      font-size: 12px;
                  }
              }
              .contact:last-child .hr_div{
                  display: none;
              }
          }
          .copyright {
              color: #345987;
              font-feature-settings: "clig" off, "liga" off;
              letter-spacing: -0.4px;
              align-self: center;
              white-space: nowrap;
              margin: 28px 0 6px;
              font: 400 12px/16px Open Sans, sans-serif;
          }
      }
     
    }
  }
  @media (max-width: 992px) {
    .login_container{
      .col_left{
        width: 50%;
      }
      .col_right{
        width: 50%;
        .contact_cpright{
          margin-top: 40px;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          .contact_list{
             .contact{
              .contact_img{
                width: 11px;
                height: 11px;
                margin: 0px 10px ;
              }
               .hr_text , .hr_div {
                 display: none;
               }
              
             }
           }
        }
      }
    }

  }

  @media (max-width: 768px) {
    background-color: white;
    .login_container {
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      .col_left {
        
        width: 100%;
        min-height:auto;
        .page{
          min-height:100px;
          padding: 50px;
          .logo_image{
            width: 113px;
            margin-top: 0px;
          }
          .bg_img{
            display: none;
          }
          .folder_image{
            display: none;
          }
          .heading{
            font-size: 20px;
          }
        }
      }
      .col_right{
        width: 100%;
        padding: 0px 50px;
        padding-bottom: 300px;
        .login_portal{
          justify-content: flex-start;
        }
      }
    }
  }
}






